# App
output/*
!output/.gitkeep

input/base/*
!input/base/.gitkeep

input/cmt/*
!input/cmt/.gitkeep

input/cr/*
!input/cr/.gitkeep

input/ut/*
!input/ut/.gitkeep

data/commits/*
!data/commits/.gitkeep

data/exclusions/*
!data/exclusions/.gitkeep

data/prs/*
!data/prs/.gitkeep

unittesting-evolution-coverage/input/DevSecOps/*
!unittesting-evolution-coverage/input/DevSecOps/.gitkeep

unittesting-evolution-coverage/input/Portafolio/*
!unittesting-evolution-coverage/input/Portafolio/.gitkeep

unittesting-evolution-coverage/output/*
!unittesting-evolution-coverage/output/.gitkeep

data/sonar/*
!data/sonar/.gitkeep

specialty_extraction_repository/input/*
!speciaity_extraction_repository/input/.gitkeep

specialty_extraction_repository/input/legacy/*
!specialty_extraction_repository/input/legacy.gitkeep

specialty_extraction_repository/output/*
!specialty_extraction_repository/output/.gitkeep

#Code Review
codereview/input/base/*
!codereview/input/base/.gitkeep

codereview/input/commits/*
!codereview/input/commits/.gitkeep

codereview/input/exclusiones/*
!codereview/input/exclusiones/.gitkeep

codereview/input/priorizados/*
!codereview/input/priorizados/.gitkeep

codereview/input/prs/*
!codereview/input/prs/.gitkeep

codereview/input/quiz/*
!codereview/input/quiz/.gitkeep

codereview/output/*.csv
!codereview/output/.gitkeep

codereview/output/*
!codereview/output/.gitkeep

codereview/input/last_process/*
!codereview/input/last_process/.gitkeep

unittesting/input/base_activos/*
!unittesting/input/base_activos/.gitkeep

unittesting/input/pull_requests/*
!unittesting/input/pull_requests/.gitkeep

unittesting/input/quiz_tests/*
!unittesting/input/quiz_tests/.gitkeep

unittesting/input/sonar/*
!unittesting/input/sonar/.gitkeep

unittesting/input/squads_priorizados/*
!unittesting/input/squads_priorizados/.gitkeep

unittesting/input/last_process/*
!unittesting/input/last_process/.gitkeep

unittesting/output/*
!unittesting/output/.gitkeep

quiztests_process/input/base_activos/*
!quiztests_process/input/base_activos/.gitkeep

quiztests_process/input/quiz_tests/*
!quiztests_process/input/quiz_tests/.gitkeep

quiztests_process/input/squads_priorizados/*
!quiztests_process/input/squads_priorizados/.gitkeep

quiztests_process/output/*
!quiztests_process/output/.gitkeep

coding_standard/input/base_activos/*
!coding_standard/input/base_activos/.gitkeep

coding_standard/input/fortify/*
!coding_standard/input/fortify/.gitkeep

coding_standard/input/maturity_level_by_squad/*
!coding_standard/input/maturity_level_by_squad/.gitkeep

coding_standard/input/pull_request/*
!coding_standard/input/pull_request/.gitkeep

coding_standard/input/quiz/*
!coding_standard/input/quiz/.gitkeep

coding_standard/input/sonar/*
!coding_standard/input/sonar/.gitkeep

coding_standard/output/*
!coding_standard/output/.gitkeep

util/files/*
!util/files/.gitkeep

# MAC Environment
.DS_Store

# VSCode IDE
.vscode/*

# Python language
**/__pycache__/
**/__init__.py
venvmetrics
venv
ven
*.idea

# Assets Base Activos

assets/base_activos/input/squads_priorizados/*
!assets/base_activos/input/squads_priorizados/.gitkeep

assets/base_activos/input/base_activos/*
!assets/base_activos/input/base_activos/.gitkeep

assets/base_activos/input/pull_requests/*
!assets/base_activos/input/pull_requests/.gitkeep

assets/base_activos/input/data_process_project/*
!assets/base_activos/input/data_process_project/.gitkeep

assets/base_activos/output/*
!assets/base_activos/output/.gitkeep

# Cloud Development

cloud_development/resources/log/*
!cloud_development/resources/log/.gitkeep

cloud_development/resources/output/*
!cloud_development/resources/output/.gitkeep

cloud_development/resources/input/base_activos/*
!cloud_development/resources/input/base_activos/.gitkeep

cloud_development/resources/input/squads_priorizados/*
!cloud_development/resources/input/squads_priorizados/.gitkeep

cloud_development/resources/input/sonar/data/*
!cloud_development/resources/input/sonar/data/.gitkeep

cloud_development/resources/input/sonar/exclusions/*
!cloud_development/resources/input/sonar/exclusions/.gitkeep

cloud_development/resources/input/azure_monitor/*
!cloud_development/resources/input/azure_monitor/.gitkeep

cloud_development/resources/input/assesments/azure_sql/*
!cloud_development/resources/input/assesments/azure_sql/.gitkeep

cloud_development/resources/input/assesments/cache_redis/*
!cloud_development/resources/input/assesments/cache_redis/.gitkeep

cloud_development/resources/input/assesments/cosmos_db/*
!cloud_development/resources/input/assesments/cosmos_db/.gitkeep

cloud_development/resources/input/azure_costs/cosmos_db/*
!cloud_development/resources/input/azure_costs/cosmos_db/.gitkeep